.grids {
    margin-bottom: 100px;

    .grid {
        &:not(:first-child) {
            margin-top: 25px;
        }

        display: grid;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(5, 150px);
        grid-gap: 25px;
        justify-content: center;

        .grid-item {
            background-size: cover;
            background-position: center;
            border-radius: 15px;
            box-shadow: 3px 3px 2px rgba(38, 37, 37, 0.7);
            display: flex;
            align-items: flex-end;
            overflow: auto;
            transition-duration: 0.3s;

            .grid-item-content {
                opacity: 0;
                transition-duration: 0.3s;
                overflow: auto;
                padding: 10px;
                white-space: pre-wrap;
                background-color: RGBA(255, 255, 255, 0.8);

                .project-links {
                    display: flex;
                    gap: 10px;
                }

                h3 {
                    font-size: 10px;
                }

                p {
                    margin-top: 0;
                    font-size: 8px;
                }
            }

            .vertical {
                width: 100%;
            }

            .horizontal {
                height: 100%;
                max-width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            &:hover {
                background-size: 200%;
                .grid-item-content {
                    opacity: 1;
                }
            }
        }

        .grid-item-1 {
            grid-row: 1 / 3;
        }

        .grid-item-3,
        .grid-item-5,
        .grid-item-10 {
            grid-column: 3 / 5;
        }

        .grid-item-6 {
            grid-row: 3 / 5;
        }

        .grid-item-7 {
            grid-column: 2 / 4;
        }

        .grid-item-11 {
            grid-column: 1 / 3;
        }
    }

    /* @media (max-width: 890px) {
        .grid {
            grid-template-columns: repeat(2, 40vw);

            .grid-item {
                h3 {
                    font-size: 15px;
                }

                p {
                    font-size: 13px;
                }
            }

            .grid-item-1 {
                grid-column: 1 / 3;
                grid-row: unset;
            }

            .grid-item-2 {
                grid-row: 2 / 4;
            }

            .grid-item-3 {
                grid-column: unset;
            }
        }
    }

    @media (max-width: 260px) {
        .grid {
            display: flex;
            flex-direction: column;
            align-items: center;

            .grid-item {
                width: 80vw;
            }
        }
    } */
}
