.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    height: 80px;

    .section {
        display: flex;
        align-items: center;

        img {
            height: 40px;
        }

        a {
            margin-left: 20px;
        }
    }

    .mobile {
        display: none;
    }
}

@media screen and (max-width: 726px) {
    .nav {

        .desktop {
            display: none;
        }

        .bottom {
            bottom: 0;
        }

        .mobile {
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100vw;
            position: fixed;
            left: 0;
            background-color: white;
            box-shadow: 3px 3px 10px black;
            height: 80px;

            .logo {
                display: flex;
                align-items: center;

                img {
                    height: 60px;
                }
            }

            a {
                margin-left: 0;
                img {
                    width: 60px;
                    height: auto;
                }
            }
        }
    }
}
