@use "_grid";
@use "_social";

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-size: 40px 40px;
    background-image: radial-gradient(
        circle,
        rgba(0,0,0,0.2) 1px,
        rgba(0, 0, 0, 0) 1px
    );
}

.header {
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .header {
        img {
            width: 300px !important;
        }
    }
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    .nav-item {
        a {
            text-decoration: none;
            color: unset;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.about {
    display: flex;
    justify-content: center;
    margin: 100px;

    p {
        line-height: 30px;
    }
}
